<section class="banner_main">
   <div class="container-fluid">
      <div class="row d_flex">
         <div class="col-md-5">
            <div class="text-bg">
               <h1>Computer and <br>laptop shop</h1>
               <strong>Free Multipurpose Responsive</strong>
               <span>Landing Page 2019</span>
               <a href="#">Buy Now</a>
            </div>
         </div>
         <div class="col-md-7 padding_right1">
            <div class="text-img">
               <figure><img src="assets/images/top_img.png" alt="#"/></figure>
               <h3>01</h3>
            </div>
         </div>
      </div>
   </div>
</section>
<div id="about" class="about">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2>About Pcoint</h2>
                <span>d to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum gener</span>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-8 offset-md-2 ">
             <div class="about_box ">
                <figure><img src="assets/images/about_img.png" alt="#"/></figure>
                <a class="read_more" href="#">Read more</a>
             </div>
          </div>
       </div>
    </div>
 </div>